# Project exclude paths
/.gradle/
/build/
/build/classes/java/test/

HELP.md
build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Allure ###
.allure

### Gradle ###
.gradle